@font-face {
    font-family: 'CB';
    src: url(../fonts/Comfortaa/Comfortaa-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'CR';
    src: url(../fonts/Comfortaa/Comfortaa-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'MB';
    src: url(../fonts/Montserrat/-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'CB';
    src: url(../fonts/Comfortaa/Comfortaa-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'CB';
    src: url(../fonts/Comfortaa/Comfortaa-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'CB';
    src: url(../fonts/Comfortaa/Comfortaa-Bold.ttf) format('truetype');
}